<nav>
    <div class="nav-wrapper topnav">
        <a href="/" class="brand-logo cneter">Article Scraper</a>
        <ul class="right" id="nav-mobile">
            <li><a href="/scrape">scrape</a></li>
        </ul>
    </div>
</nav>